html {
  font-size: 16px; /* Specify your desired font size */
  
}

h2 {
  margin: var(--spacing-small) 0px var(--spacing-small) 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  padding: 1em;
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(200px, 400px));
  }
}

.grid-container-inner {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));*/
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  column-gap: var(--spacing-small);
}


.grid-container-inner-3column {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));*/
  grid-template-columns: 1fr auto 1fr;
  column-gap: var(--spacing-small);
  
}


.grid-item {
  padding: 1em;
  background-color: var(--colors-background);
  border-radius: 15px;
  box-shadow: 
  var(--shadows-small),
  var(--shadows-medium),
  var(--shadows-large);
  text-align: center;
}


.grid-item label, .grid-item span {
  font-size: var(--typography-fontSize-body);
}
.grid-item input {
  margin-bottom: 0.5em;
}
.grid-item-full-width {
  grid-column: 1 / -1;
}

/* 
.grid-input {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr)); 
  gap: var(--spacing-small); 
  align-content: center;
  align-items: flex-start;
  justify-items: center;
} */


.align-right, .align-left{
  display: flex;
  gap: var(--spacing-small);
}

.align-right {
  justify-content: flex-end;
 
}


.align-left {
  justify-content: flex-start;
 
}


.selectedStations span {
  display: inline-block;
  padding: 0.2em 0.5em;
  background-color: var(--colors-selected-input);
  border-radius: 20px; 
  margin: var(--spacing-mini);  
  color: var(--colors-text-secondary);
  font-size: var(--typography-fontSize-small);

}

.remove-button {
  margin-left: var(--spacing-small);  
}


#coveredDistanceMetersMin, #coveredDistanceMetersMax {
  width: 75%;
  box-sizing: border-box;
}

input[type="number"] {
  width: 25%;
  box-sizing: border-box;
}

.no-gap {
  gap: var(--spacing-mini);
  
}

#error-message {
  display: none;
  color: var(--colors-error);
}

.button-big {
  width: 40%;
}

.input-small {
  min-width: 20px;
  max-width: 40px;
}