/*  */
/* Description: Define base visual styles and layout of web page  */
/* Note: primary, secondary, etc with: var(--variable-name) */
/*  */



.containerMain {
    max-width: 500px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
     white-space: nowrap;
}

.container div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.containerFlex {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item {
    margin-bottom: 0px; /* adjust as needed */
  }

  #findTripsButton, #resetSearch {
    font-weight: bold;
  }
  
 
.inputField {
    display: inline-block;
    max-width: 20px;
  }
  

  